html{
	background: $back-gray;	
	font-family: $font-header;

}
body {
	color:$black;
	line-height:1.6em;
	background: url(../../../build/images/cross.jpeg) no-repeat center center fixed; 
	@include web-backImage;
	height: 100vh;
}
.pull-right {
	float:right;
}
.pull-left {
	float:left;
}
.hide {
	display: none;
}

// grid***********
.grid {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
}
header, .content, footer {
	grid-column: 1 / 1;
}
header{
	.navheader{
	@include navbar;
	width: 100%;
	&menu{
		color: $link;
		}
	}
}
a{
	text-decoration:none;
	cursor:pointer;
	color:$link;
	@include transition-one;
	&:hover{
		color:$link-hover;
	}	
}

h1,h2,h3,h4,h5,h6 {
	@include h-text;
}
p{
	@include p-text;
}
input,button,select,textarea{
	@include inputs;
}
.btn {
	background-color: $red; /* Green */
	cursor:pointer;
	@include transition-one;
    color: $link;
    padding: 10px 30px;
    text-align: center;
	display: inline-block;
	&:hover{
		background-color: $hover-red;
	}
}
.content {
	img {
		@include fullImage;
	}
}
.about, .pastor, .branches, .ministries, .image-holder, footer{
	display: grid;
	grid-template-columns: $grid-layout;
}

.branches .red{
	padding: 0 0 15%;
}
.placeholder{
	background-color: $black;
	color: $gray;
	margin: 10% 0px;
}
.title{
	padding: 0px 8% 0 0;;
}

.quotes{
	background-color: $red;
	padding: 3.2em 3.2em 4.2em 2em

}
.img-holder{
	.black-back{
		background-color: $black;
	}
	img.img-quote{
		height: 0%;
	}
}
.ministry-tab{
	.ministry-holder{
		border-radius: 15px 15px 0 0;
		overflow: hidden;
		.ministry-img {
			img{
				height: 0%;
			}
		}
	}
}
footer{
	background-color: $black;
	color: $gray;
	.contact-us{
		padding: 3em 0 ;
	}
	.grace{
		padding: 0;
	}
}