@media (max-width: $breakpoint-mobile){
    .landing{
        h1{
            @include landing-h1;
        }
    }
// all grid-secons includes
    .vision{
        @include grid-second;
        padding: 2em 0 4em;

    }

    .about {
        .red {
            @include grid-second;
        }
        .text{
            @include grid-second; 
        }
    }
    .pastor {
        height: 100%;
        margin: 20% 0 10% 0;
        .ps-image{
            @include grid-second; 
        }
        .text{
            @include grid-second; 
        }
        img{
            height: auto;
            
        }
    }
    .branches {
        .red{
            @include grid-second;
        }
        .branch-holders{
            @include grid-second;
        }
        .branch-image{
            img{
                height: 0%;
            }
        }
    }
    .ministries{
        padding: 4em 0;
        .red, .img-holder, .header-quote {
            @include grid-second;
        }
        .header-quote{
            text-align: center;
            padding: 2em 0 4em;
        }
    }
    .ministry-tab{
        @include grid-second;
        .ministry-holder{
            @include grid-second;
        }
    }
    footer{
        .contact-us, .grace{
            @include grid-second;
        }
    }
}