// ********************
// Color Variables
// ********************
$black: #222222;
$red: #c23616;
$hover-red: #992c13;
$gray: #ebebeb;
$back-gray: #f7f7f7;
$link: #ebebeb; 
$link-hover: #bbbbbb; 

// *******************
// BreakPoints
// *******************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// *******************
// typography
// *******************

$font-header: 'Poppins', sans-serif;
$font-text: 'Roboto', sans-serif;

